:javascript
  $(function() {
    $("#note_frm").hide();
    $("#diff").hide();
    $("#note_toggle").click(function() {
      $("#note_frm").toggle();
    })
    $("#diff_toggle").click(function() {
      $("#diff").toggle();
    })
    $(".pushed .collapse").collapse()
  })

%h2
  %a{ :href => '/set/%s' % @patch.patch_set.id }="##{@patch.patch_set.id} : "
  =@patch.message

%p.pull-right
  - if authorized? and !@patch.obsoleted?
    %a.btn.btn-success{ :href => "/patch/#{@patch.id}/ack"} ACK
    %a.btn.btn-danger{ :href => "/patch/#{@patch.id}/nack"} NACK
    %a.btn{ :href => "/patch/#{@patch.id}/push"} PUSH
  - if !@patch.body.nil?
    %a.btn{ :href => '/patch/%s/download' % @patch.commit }
      %i{ :class => 'icon-arrow-down'}
      Download

%table.table.table-bordered.patch
  %tbody
    %tr
      %th{:style => 'width:80px;'} Author
      %td=@patch.author
    %tr
      %th Commit
      %td
        %code=@patch.commit
    - if !@patch.body.nil? and !@patch.obsoleted?
      %tr
        %th Download
        %td
          %code='$ tracker apply %s' % @patch.commit
    %tr
      %th Version
      %td
        - if @patch.patch_set.revision == -1
          N/A
        - else
          ="#{@patch.count_same_commit}.#{@patch.patch_set.revision}"
    %tr
      %th Status
      %td
        - if @patch.status != :new
          = format_status @patch.status
          = '&nbsp;<em>by '+@patch.updated_by+'</em>'
          = '&nbsp;('+ @patch.updated_at.nice_format
          = '&nbsp;<em>('+Time.parse(@patch.updated_at.to_s).ago_in_words+')</em>)'
        - else
          = format_status :new
    %tr
      %th{ :style => 'vertical-align: middle'} Other in Set
      %td
        %ul.unstyled{:style => 'margin-bottom : 0'}
          - if @patch.other_patches.empty?
            %li
              %em No other patches in this set
          - @patch.other_patches.each do |p|
            %li
              %a{ :href => '/patch/%s' % p.commit }
                %code=p.commit[-8, 8]
              =p.message

#diff
  - if !@patch.body.nil?
    %ul.nav.nav-pills.pull-right
      %li
        %a{ :href => '/set/%s/download' % @patch.commit }
          %i{ :class => 'icon-arrow-down'}
          Download
    %pre=@patch.body

-if authorized? and !@patch.obsoleted?
  %ul.nav.nav-pills.pull-right
    %li
      %a{ :href => '#note_frm', :id => 'note_toggle'}
        %i{ :class => 'icon-plus-sign'}
        Add
    - if !@patch.body.nil?
      %li
        %a{ :href => '#diff', :id => 'diff_toggle'}
          %i{ :class => 'icon-eye-open'}
          View

  %h3 Review notes

  %form#note_frm.form-search.well{ :method => 'get', :action => '/patch/%s/note' % @patch.id}
    %input{ :type => 'text', :class => 'input-medium search-query', :style => 'width : 70%', :name => 'message'}
    %select.span1{ :name => 'action'}
      %option{:value => 'note'} -
      %option{:value => 'ack'} ACK
      %option{:value => 'nack'} NACK
      %option{:value => 'push'} PUSH
    %button{ :type => 'submit', :class => 'btn'} Update

%table.table.table-bordered.patch
  %tbody
    - if @patch.obsoleted?
      %tr
        %th=Time.parse(@patch.updated_at.to_s).ago_in_words
        %td{:style => 'text-align:center'}=format_status :closed
        %td
          %em=@patch.author
        %td This patchset was obsoleted
    - @patch.logs.reverse.each do |log|
      %tr
        %th{:style => 'width:130px'}=Time.parse(log.created_at.to_s).ago_in_words
        %td{:style => 'width:50px;text-align:center'}=format_status "#{log.action}".intern
        %td{:style => 'width:150px;'}
          %em=log.author
        %td=log.message
    %tr
      %th=Time.parse(@patch.created_at.to_s).ago_in_words
      %td{:style => 'text-align:center'}=format_status :new
      %td
        %em=@patch.author
      %td Patch recorded to tracker
