%h2
  %a{:href => '/'}="##{@set.id}"
  =": #{@set.first_patch_message}"

- if authorized?
  %p.pull-right
    %a{ :class => 'btn btn-danger', :href => '/set/%s/destroy' % @set.id} Remove

%br

%table.table.table-bordered
  %tr
    %th.well.t-label Author
    %td=@set.author
  %tr
    %th.well.t-label Revision
    %td=@set.revision
  - if !@set.patches.any? { |p| p.body.nil? }
    %tr
      %th.well.t-label Download
      %td
        %code="$ tracker download #{@set.id}"
  %tr
    %th.well.t-label Recorded
    %td=Time.parse(@set.created_at.to_s).ago_in_words
  - if !@set.build.nil?
    %tr
      %th.well.t-label Build
      %td=format_build_state @set.build.state
    %tr
      %th.well.t-label Build logs
      %td
        %a{:href => '/build/%s/patches' % @set.id }
          %code patches.log
        %a{:href => '/build/%s/install' % @set.id }
          %code bundler.log
        %a{:href => '/build/%s/build' % @set.id }
          %code build.log
  %tr
    %th.well.t-label Status
    %td=@set.status.upcase

%h3 Patches in this set:

%br

%table.table.table-bordered
  - @set.patches.all(:order => [ :id.asc ]).each do |p|
    %tr
      %td.t-label{:style => 'width:40px'}
        %span.badge.badge-inverse="PATCH #{p.current_index}/#{@set.num_of_patches}"
      %td.t-label=format_status p.status
      %td
        %a{ :href => '/patch/%s' % p.short_commit }=p.message
      %td.t-label
        %small=p.updated_by
